<launch>

  <param name="Motor_Controller/KP_R" value="2.5"/>
  <param name="Motor_Controller/KD_R" value="2.5"/>
  <param name="Motor_Controller/KI_R" value="1.0"/>

  <param name="Motor_Controller/KP_L" value="2.5"/>
  <param name="Motor_Controller/KD_L" value="2.5"/>
  <param name="Motor_Controller/KI_L" value="1.0"/>


  <!-- Motor controller -->
  <node pkg="motor_controller" type="motor_controller" name="motor_controller" output = "screen" >
	
  </node>
</launch>
